
@model SBS_2page_webApp.Models.Info_Class

@using (Html.BeginForm("Update", "Info", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.TelNo)
        @Html.TextBoxFor(model => model.TelNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CellNo)
        @Html.TextBoxFor(model => model.CellNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AddressLine1)
        @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AddressLine2)
        @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AddressLine3)
        @Html.TextBoxFor(model => model.AddressLine3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AddressCode)
        @Html.TextBoxFor(model => model.AddressCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostalAddress1)
        @Html.TextBoxFor(model => model.PostalAddress1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostalAddress2)
        @Html.TextBoxFor(model => model.PostalAddress2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostalCode)
        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

<h2>Info</h2>
